*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{list-style-type: none;}
a{text-decoration: none;}
input{outline: 0; border: none;}

.slick-next:before,
.slick-prev:before{
    color: var(--filter-icon-color) !important;
}